body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

#title {
    font-size: 5vw;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

#subtitle {
    margin-bottom: 70px;
    margin-top: 20px;
    color: #555;
    padding: 10px;
}

#map-container {
    display: inline-block;
    max-width: 90%;
    position: relative;
}

#map-container.block::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.4);
    z-index: 3;
}

#map {
    display: block;
    margin: 0 auto;
    max-width: 100%;
     z-index: 1;
}

#informer {
    font-size: 1.3em;
    color: red;
    padding: 10px;
    font-weight: 900;
}

.treasure {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    z-index: 5;
}

.treasure.show {
    opacity: 1;
}

.ping{
    -webkit-animation: ping 1s ease-in-out infinite both;
    animation: ping 1s ease-in-out infinite both;
}
@-webkit-keyframes ping{
    0%{-webkit-transform:scale(.5);transform:scale(.5);}
    50%{-webkit-transform:scale(1);transform:scale(1);}
    100%{-webkit-transform:scale(1.5);transform:scale(1.5);}
}
@keyframes ping{
    0%{-webkit-transform:scale(.5);transform:scale(.5);}
    50%{-webkit-transform:scale(1);transform:scale(1);}
    100%{-webkit-transform:scale(1.5);transform:scale(1.5);}
}

@media (max-width: 767px) {
    #title {
        font-size: 2em;
    }

    #subtitle,
    #informer {
        font-size: 1em;
    }

    #subtitle {
        margin-bottom: 10px;
    }
}